.container {
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  // Hide scrollbar
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none
  }

  header {
    // Place in top right corner
    position: absolute;
    top: 1.25rem;
    right: 2rem;

    div {
      display: flex;
      align-items: center;
      background-color: #121212;
      opacity: 0.9;
      cursor: pointer;
      border-radius: 9999px;
      padding: 4px;
      padding-right: 8px;
      color: white;

      &:hover {
        opacity: 0.8;
      }

      .profileImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      h2 {
        margin-left: 12px;
        margin-right: 12px;
        font-size: 1rem;
        font-weight: 400;
      }
      svg {
        height: 20px;
        width: 20px;
        
      }
    }
  }

  section {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to bottom, #99505c, #121212);
    height: 16rem;
    color: white;
    padding: 32px;

    img {
      height: 11rem;
      width: 11rem;
      box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    }

    .playlistTextContainer {
      margin-left: 0.5rem;
      p {
        margin-bottom: 0.5rem;
      }
      .playlistName {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;
        margin: 0;

        @media screen and (min-width: 768px) {
          font-size: 1.875rem;
          line-height: 2.25rem;
        }

        @media screen and (min-width: 1280px) {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }
  }
}