.container {
  color: gray;
  background-color: #121212;
  padding: 8px;
  font-size: 14px;
  line-height: 1.25rem;
  border-right: #292929 solid 1px;

  .btnGroup {
    margin-left: 10px;
    hr {
      border: 0.1px #292929 solid;
    }

    button {
      display: flex;
      align-items: center;

      &:hover {
        color: white;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      p {
        margin-left: 5px;
      }
    }
  }
  .playlistName {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}